body{
margin: 0px;
font-family: rubik;
}
header{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
}
button:focus{
outline: none;
box-shadow: none;
}
nav{
position: relative;
top: 0;
right: 0%;
border-bottom: solid 1px whitesmoke ;
}
.header-block{
position: relative;
top: 0;
right: 0%;
display: flex;
justify-content: center;
flex-flow: wrap;
padding: 10px;
}
.header-blocks{
position: relative;
width: max-content;
display: inline-block;
margin: 10px 10px;
}
.header-block-icon-img{
position: relative;
top: 0;
right: 0%;
width: 200px;
}
.Header-blocks-menu{
position: relative;
top: 0;
right: 0%;
list-style: none;
padding: 0px;
margin: 5px;
}
.Header-menu-li{
position: relative;
right: 0%;
font-family: rubik,monospace;
font-size: 14px;
font-weight: 600;
display: inline-block;
margin-right: 25px;
}
.Header-menu-silka{
position: relative;
top: 0;
right: 0%;
text-decoration: none;
color: #545454;
transition: 0.4s;
}
.Header-menu-silka:hover{
color: #30C884;
}

.Header-forma-serch{
position: relative;
top: 0;
right: 0%;
width: 450px;
height: 47px;
border-radius:6px;
border: none;
padding-left:10px;
font-size: 14px;
background: #F8FAFF;
outline: none;
transition: 0.4s;
}
.Header-forma-serch:hover{
background: white;
border: #C1CDD3 1px solid;
}
.Header-forma-serch:active{
background: white;
border: #30C884 1px solid;
}


.Search-icon{
position: relative;
}
.Search-icon::after{
content: "";
position: absolute;
top: -1px;
right: 4%;
width: 30px;
height: 30px;
background: url(../img/Group.png)no-repeat 50% 50%/100%;
}
.Header-forma-knopka{
position: relative;
background: #30C884;
color: white;
font-size: 16px;
padding: 10px 15px;
transition: 0.4s;
}
.Header-forma-knopka:hover{
color: white;
background: #26B977;
}
.Header-forma-knopka:focus{
outline: none;
box-shadow: none;
}
.Header-phone{
position: relative;
top: 0;
right: 0%;
text-decoration: none;
font-size: 20px;
font-weight: 700;
color: black;
}

.Header-form-select{
position: relative;
}
.Header-form-select::after{
content: "";
position: absolute;
top: 0px;
left: -13%;
width: 18px;
height: 32px;
background: url(../img/Subtract.png) no-repeat 50% 50%/100%;
}
.Header-selectbox{
position: relative;
top: 0;
right: 0%;
width: 150px;
height: 30px;
border: none;
padding: 0px 8px;
background: none;
outline: none;
cursor: pointer;
}

.header-blocks-profile{
position: relative;
top: 0;
right: 0%;
width: 110px;
height: auto;
display: inline-block;
margin: 10px;
padding-top: 15px;
}
.Header-blocks-profile-silka{
position: relative;
width: 100%;
height: 100%;
text-decoration: none;
}
.Header-blocks-profile-img{
position: relative;
top: 0;
right: 0%;
width: 25px;
height: 25px;
}
.Header-blocks-profile-title{
color: black;
font-size: 15px;
}
.Header-profile-chisla{
position: absolute;
left: 55px;
width: 19px;
height: 19px;
border-radius: 100%;
background: #30C884;
color: white;
}
.header-block-TovMenu{
position: relative;
top: 0;
right: 0%;
}
.header-blocks-TovMenu{
position: relative;
top: 0;
right: 0%;
width: 211px;
display: inline-block;
margin: 10px;
}
.header-blocks-TovMenu-silka{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: 100%;
display: inline-block;
text-decoration: none;
transition: 0.4s;
}
.tovimg1,.tovimg2,.tovimg3,.tovimg4,.tovimg5,.tovimg6{
background-repeat: no-repeat;
background-position: 0% 50%;
background-size:8%;
}
.tovimg1{
background-image: url(../img/chehly.svg);
}
.tovimg1:hover{
background-image: url(../img/greenchehly.svg);
}
.tovimg2{
background-image: url(../img/zaradky.svg);
background-size:9%;
}
.tovimg2:hover{
background-image: url(../img/greenzaradky.svg);
}
.tovimg3{
background-image: url(../img/pots.svg);
background-size:11%;
}
.tovimg3:hover{
background-image: url(../img/greenpots.svg);
}
.tovimg4{
background-image: url(../img/avtozaradky.svg);
background-size:7%;
}
.tovimg4:hover{
background-image: url(../img/greenavtozaradky.svg);
}
.tovimg5{
background-image: url(../img/stecly.svg);
background-size:7%;
}
.tovimg5:hover{
background-image: url(../img/greenstecly.svg);
}
.tovimg6{
background-image: url(../img/Dergately.svg);
background-size:9%;
}
.tovimg6:hover{
background-image: url(../img/greenDergately.svg);
}


.header-blocks-TovMenu-title{
color: black;
font-size: 16px;
padding-left: 25px;
padding-top: 12px;
}
.header-blocks-TovMenu-title:hover{
color:#30C884;
}
/*______________________________________________________________________________________________________*/
.Header-content-phone{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
display: none;
}
.Header-phoned-flexbox{
position: relative;
top: 0;
right: 0%;
display: flex;
justify-content: space-around;
flex-flow: wrap;
}
.Header-block-phone{
position: relative;
top: 0;
right: 0%;
width: max-content;
display: inline-block;
margin: 10px;
}
.Header-phone-icon-img{
position: relative;
top: 0;
right: 0%;
width: 200px;
}
.header-phone-profile{
position: relative;
top: 0;
right: 0%;
width: 200px;
height:100%;
background: grey;
}
.header-phone-profile-silka{
position: relative;
top: 0;
right: 0%;
width: 70px;
height: 60px;;
display: inline-block;
margin: 10px;
}
.header-phone-profile-img{
position: relative;
width: 100%;
height: 100%;
padding: 10px;
}
#Open{
position: relative;
top: 0;
right: 0%;
text-align: center;
font-size: 63px;
font-weight: 500;
color: #30C884;
cursor: pointer;
}
.Header-forma-phone{
position: relative;
top: 0;
right: 0%;
display: none;
}
.Header-forma-serch{
border:  solid 1px grey;
}
.Search-icon-phone{
position: relative;
}
.Search-icon-phone::after{
content: "";
position: absolute;
top: -5px;
right: 4%;
width: 30px;
height: 30px;
background: url(../img/icons8-search.png)no-repeat 50% 50%/100%;
}
/*______________________________________________________________________________________________________*/

article{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: 100%;
background: #F8FAFF;
}

/*______________________________________________________________________________________________________*/
#Kontent{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
padding-top: 30px;
}
.Kontent-block{
position: relative;
width: 75%;
}
.Kontent-block-carusel{
position: relative;
top: 0;
right: 0%;
width: 847px;
height:auto;
border-radius: 16px;
margin-right:20px;
}
.Kontent-block-cart{
position: relative;
top: 0;
right: 0%;
width: 270px;
height: 380px;
border-radius: 16px;
background: white;
}
.Kontent-block-cart-new{
 position: relative;
 top: 0;
 right: 0%;
 width: 40%;
 padding: 7px;
 border-radius: 0px 0px 6px 6px;
 background: #FB836C;
 color: white;
 text-align: center;
 font-size: 13px;
}
.Kontent-block-cart-like{
position: absolute;
right: 0%;
font-size: 23px;
color: #D2DAE0;
z-index: 9;
cursor: pointer;
transition: 0.4s;
}
.Kontent-block-cart-like:hover{
color:#A5B0B6;
}
.Kontent-block-cart-like:active{
color:#30C884;
}


.Kontent-block-cart-img{
position: relative;
top: 0;
right: 0%;
width: 170px;
}
.Kontent-block-cart-title{
position: relative;
top: 0;
right: 0%;
font-size: 13px;
color: #BFC8DC;
}
.Kontent-block-cart-stroka{
font-size: 16px;
}
.Kontent-block-cart-prise{
font-size: 23px;
}
.Kontent-block-cart-knopka{
position: relative;
top: 0;
right: 0%;
width: 123px;
height: 40px;
background: #78D4AB;
color: white;
border-radius: 35px 5px 5px 5px;
transition: 0.4s;
}
.Kontent-block-cart-knopka:focus{
outline: none;
box-shadow: none;
}
.Kontent-block-cart-knopka:hover{
 background: #78D4AB;
 color: whitesmoke;
}



.carousel-caption {
    position: absolute;
    left: 6%;
    text-align: left;
    top: 20px;
}
.carusel-item-img{
width: 100%;
height: 100%;
}
.carusel-title{
font-size: 35px;
text-transform: uppercase;
color: white;
}
.carusel-stroka{
font-size: 16px;
color: white;
}
.carusrl-silka{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: 100%;
}
.carusel-knopka{
position: relative;
top: 0;
right: 0%;
width: 25%;
height: 40px;
background: none;
border: none;
color: white;
font-size: 12px;
font-weight: 300;
text-align: left;
margin-top: 50px;
text-transform: uppercase;
}
.carousel-indicators{
 width: max-content;
 bottom: 15%;
 margin-left: 7%;
}
.carusel-buttons{
    width: 5px;
    height: 5px;
    border: none;
    border-radius: 50%;
    margin: 5px;
    padding: 0px;
}

/*______________________________________________________________________________________________________*/
#Kontent2{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
padding-top: 50px;
}
.Kontent2-blocks{
position: relative;
top: 0;
right: 0%;
width: 560px;
height: 263px;
display: inline-block;
margin: 10px;
border-radius: 16px;
}
.Kontent2-blocks-img{
position: absolute;
width: 100%;
height: 100%;
}
.Kontent2-blocks-title{
position: relative;
top: p0;
right: 0%;
text-align: left;
font-size: 16px;
color: white;
}
.Kontent2-blocks-stroka{
position: relative;
top: 0;
right: 0%;
text-align: left;
font-size: 25px;
color: white;
}
.Kontent2-blocks-knopka{
position: relative;
bottom: 0%;
right: 0%;
color: white;
text-align: left;
margin-top: 90px;
}

/*______________________________________________________________________________________________________*/
#Kontent3{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
margin-top: 50px;
}
.Kontent3-block{
width: 75%;
}
.Kontent3-block-control{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: 65px;
}
.Kontent3-block-control-title{
font-size:30px;
padding-top: 20px;
padding-left: 20px;
}
.Kontent3-block-control-spisok{
position: relative;
top: 0;
right: 0%;
height: 55px;
list-style: none;
padding: 0px;
border-bottom: solid 3px #F5F5F5;
}
.Kontent3-block-control-li{
position: relative;
top: 0;
right: 0%;
text-align: center;
font-size: 16px;
font-weight: bold;
display: inline-block;
margin: 10px;
padding-top: 9px;
padding-bottom: 10px;
border-bottom: solid 3px #F5F5F5;
transition: 0.4s;
cursor: pointer;
}

.Kontent3-block-control-li:active{
border-bottom: solid 3px #30C884;
z-index: 1;
}

.Kontent3-blocks-carts{
position: relative;
top:0;
right: 0%;
width: 270px;
height: 373px;
display: inline-block;
margin: 10px;
background: white;
border-radius: 16px;
}
.Kontent3-blocks-carts-title-skidka{
position:absolute;
top: 0;
left: 0%;
width:31%;
padding:4px;
border-radius: 0px 7px 7px 0px;
background: #63A5FF;
color: white;
text-align: center;
font-size: 13px;
margin-top: 16px;
z-index: 1;
}
.Kontent3-blocks-carts-stroka-new{
position:absolute;
top: 0;
left: 0%;
width:31%;
padding:4px;
border-radius: 0px 7px 7px 0px;
background: #FFDD63;
color: black;
text-align: center;
font-size: 13px;
margin-top: 45px;
z-index: 1;
}
.Kontent3-blocks-carts-like{
position: absolute;
top: 0px;
right: 0%;
font-size: 23px;
color: #D2DAE0;
z-index: 9;
margin: 16px 16px;
cursor: pointer;
transition: 0.4s;
}
.Kontent3-blocks-carts-like:hover{
color:#A5B0B6;
}
.Kontent3-blocks-carts-like:active{
color:#30C884;
}
.Kontent3-blocks-carts-img{
 position: relative;
 top: 0px;
 right: 0%;
 width: 195px;
 padding-top: 30px;
}
.Kontent3-blocks-carts-title{
position: relative;
top: 0;
right: 0%;
font-size: 13px;
color: #BFC8DC;
}
.Kontent3-blocks-carts-stroka{
position: relative;
top: 0;
right: 0%;
height: 40px;
font-size: 14px;
}
.Kontent3-blocks-carts-pay{
font-size: 23px;
margin: -4px;
}
.skidka-price::before{
content:"990 Р";
position: absolute;
bottom: 11px;
left: 8%;
font-size: 14px;
font-weight: 300;
text-decoration: line-through;
color: #C6C6C6;
}
.Kontent3-blocks-carts-knopka{
position: relative;
top: 0;
right: 0%;
width: 123px;
height: 40px;
background: #78D4AB;
color: white;
border-radius: 35px 5px 5px 5px;
transition: 0.4s;
float: right;
margin-right: 13px;
}
.Kontent3-blocks-carts-knopka:hover{
 background: #78D4AB;
 color: whitesmoke;
}
.Kontent3-blocks-carts-knopka:focus{
outline: none;
box-shadow: none;
}

/*______________________________________________________________________________________________________*/
#Kontent4{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
background: url(../img/Fixcase.jpg) no-repeat 50% 50%/130em;
margin-top: 50px;
}
.Kontent4-block{
position: relative;
top: 0;
right: 0%;
width: 90%;
height: 100%;
}
.Kontent4-blockflex{
position: relative;
top: 0;
right: 0%;
width: 100%;
display: flex;
justify-content: center;
flex-flow: wrap;
}
.Kontent4-blocks{
position: relative;
top: 0;
right: 0%;
width: 43%;
display: inline-block;
margin: 0px 10px;
}
.Kontent4-blocks-stroka{
font-size: 20px;
}
.Kontent4-blocks-title{
font-size: 35px;
}
.Kontent4-blocks-spisok{
position: relative;
top: 0;
right: 0%;
list-style: none;
padding: 0px;
}
.Kontent4-li-blocks{
position: relative;
top: 0;
right: 0%;
width: 310px;
display: inline-block;
margin: 10px;
}
.Kontent4-blocks-li{
position: relative;
top: 0;
right: 0%;
text-align: left;
font-size: 19px;
font-weight: 500;
padding-bottom: 15px;
}
.Kontent4-blocks-li::after{
content:"";
position: absolute;
top: 5px;
left: -9%;
width: 20px;
height: 20px;
background: url(../img/serclgalka.png) no-repeat 50% 50%/100%;
z-index: 1;
}
.Kontent4-blocks-silka{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: 50px;
}
.Kontent4-blocks-knopka{
position: relative;
width: 262px;
height: 50px;
font-size: 16px;
background: #78D4AB;
border-radius: 55px;
padding: 10px;
}
.Kontent4-blocks-img{
position: relative;
width: 100%;
height: 100%;
background: url(../img/Woman.png) no-repeat 50% 99%/26em;
}

/*______________________________________________________________________________________________________*/
#Kontent5{
position: relative;
top: p0;
right: 0%;
width: 100%;
height: auto;
margin-top: 50px;
padding-bottom: 50px;
}
.Kontent5-block-carusel-header{
position: relative;
width: 100%;
height: 40px;
margin-bottom:20px ;
}
.Kontent5-block-carusel-header-title {
font-size: 28px;
}
.Kontent5-block-carusel-header-control{
position: relative;
top: p0;
right: 0%;
z-index: 1;
}
.Kontent5-carusel-control-prev-icon,.Kontent5-carusel-control-next-icon{
 color: #B1BCD6;
}
.Kontent5-block-carusel{
position: relative;
top: 0;
right: 0%;
width: 100%;
}
.Kontent5-carusel-blocks{
position: relative;
top: 0;
right: 0%;
width: 270px;
height: 380px;
border-radius: 16px;
display: inline-block;
background:white;
margin: 10px;
}
.Kontent5-carusel-blocks-img-back{
position: absolute;
width: 100%;
height: 100%;
}
.Kontent5-carusel-blocks-title-zag{
 position: relative;
 font-size:24px;
 color: #3D474D;
 z-index: 1;
}
.Kontent5-carusel-blocks-stroka-new{
position:absolute;
top: 0;
left: 0%;
width:31%;
padding:4px;
border-radius: 0px 7px 7px 0px;
background: #FFDD63;
color: black;
text-align: center;
font-size: 13px;
margin-top: 45px;
z-index: 1;
}
.Kontent5-carusel-blocks-like{
position: absolute;
top: 0px;
right: 0%;
font-size: 23px;
color: #D2DAE0;
z-index: 9;
margin: 16px 16px;
cursor: pointer;
transition: 0.4s;
}
.Kontent5-carusel-blocks-like:hover{
 color:#A5B0B6;
}
.Kontent5-carusel-blocks-like:active{
color:#30C884;
}
.Kontent5-carusel-blocks-img{
 position: relative;
 top: 0px;
 right: 0%;
 width: 175px;
 padding-top: 30px;
 padding-bottom: 20px;
}
.Kontent5-carusel-blocks-title{
position: relative;
top: 0;
right: 0%;
font-size: 13px;
color: #BFC8DC;
}
.Kontent5-carusel-blocks-stroka{
position: relative;
top: 0;
right: 0%;
height: 40px;
font-size: 14px;
}
.Kontent5-carusel-blocks-pay{
font-size: 23px;
margin: -4px;
}
.Kontent5-carusel-blocks-knopka{
position: relative;
top: 0;
right: 0%;
width: 123px;
height: 40px;
background: #78D4AB;
color: white;
border-radius: 35px 5px 5px 5px;
transition: 0.4s;
float: right;
margin-right: 13px;
}
.Kontent5-carusel-blocks-knopka:focus{
outline: none;
box-shadow: none;
}
.Kontent5-carusel-blocks-knopka:hover{
background: #78D4AB;
 color: whitesmoke;    
}

/*______________________________________________________________________________________________________*/
footer{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
background: #1e263a;
}
.foter-block {
position: relative;
top: 0;
right: 0%;
width: 75%;
display: block;
margin: 0 auto;
}
.footer-blocks{
position: relative;
top: 0;
right: 0%;
width: 300px;
height: auto;
display: inline-block;
margin: 20px 20px;
padding-top: 50px;
}
.footer-blocks-title{
font-size: 17px;
color: white;
margin-bottom: 20px;
}
.footer-blocks-spisok{
position: relative;
top: 0;
right: 0%;
list-style: none;
padding: 0px;
}
.footer-blocks-li{
position: relative;
top: 0;
right: 0%;
text-align: left;
font-size: 15px;
font-weight: 300;
display: block;
margin-bottom: 15px;
}
.footer-blocks-silka{
position: relative;
text-decoration: none;
color:#C8C8C8;
transition: 0.4s;
}
.footer-blocks-silka:hover{
color: #30C884;
}
.footer-blocks-logo{
position: relative;
width: 150px;
height: 64px;
margin-top:40px;
}
.footer-logo-img{
position: relative;
width: 100%;
height: 100%;
}
.footer-blocks-phone{
position: relative;
text-decoration: none;
color: white;
font-size: 20px;
font-weight: 900;
}
.footer-blocks-socsilka{
position: relative;
top: 0;
right: 0%;
width: 50px;
height: 50px;
display: inline-block;
background-color:#A5B0B6;
text-decoration: none;
color: white;
border-radius: 50%;
margin-right: 5px;
transition: 0.4s;
}
.footer-blocks-socsilka:hover{
background-color:white;
}
.imgs1,.imgs2,.imgs3,.imgs4{
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: 55%;
}
.imgs1{
background-image: url(../img/youtube.svg);
}
.imgs1:hover{
background-image: url(../img/greenyoutube.svg);
}
.imgs2{
background-image: url(../img/Telegram.svg);
}
.imgs2:hover{
background-image: url(../img/greenTelegram.svg);
}
.imgs3{
background-image: url(../img/vk.svg);
}
.imgs3:hover{
background-image: url(../img/greenvk.svg);
}
.imgs4{
background-image: url(../img/whatapp.svg);
}
.imgs4:hover{
background-image: url(../img/greenwhatapp.svg);
}


.footer-blocks-pay-img{
position: relative;
top: 0;
right: 0%;
margin-right: 5px;
}
.footer-copirate{
position: relative;
top: 0;
right: 0%;
width: 100%;
height: auto;
display: flex;
justify-content:space-around;
flex-flow: wrap;
background: #1e263a;
border-top: solid 1px #ffffff12;
}
.footer-copirate-blocks{
position: relative;
top: 0;
right: 0%;
width: 300px;
height: 100%;
display: inline-block;
margin: 10px;
text-align: center;
padding-top: 15px;
}
.footer-copirate-blocks-text{
font-size: 12px;
color: #A5B0B6;
}
.Footer-phone{
display: none;
}
/*______________________________________________________________________________________________________*/
@media only screen and (max-width:999px){
body{position: absolute;}
.header-content{display: none;}
.Header-content-phone{display: block;}

.Kontent-block{width: 100%;}
.Kontent-block-carusel{width: 535px; height: 364px; margin:20px; padding-bottom: 40px;}
.Kontent-carusel-Example{height: 100%;}
.Kontent-carusel-inner{height: 100%;}
.carousel-item{height: 100%;}
.carousel-indicators{bottom: -11%; left: 37%;}
.carusel-buttons{background:#D2DAE0; width: 9px; height: 9px;}
.carusel-buttons:hover{background:#30C884;}


.Kontent-block-cart{width: 535px; height: 242px;}
.carousel-indicators{bottom: -11%; left: 37%;}
.Kontent-block-cart-new{right: 40%;width: 108px; margin-top: 20px; border-radius: 0px 6px 6px 0px;}
.Kontent-block-cart-img{float: left;}
.Kontent-block-cart-like{top: 20px;}
.Kontent-block-cart-knopka{width: 150px; height: 50px;}
.Kontent-block-cart-knopka::before{content:"Купить"; position: relative; top: 0; right: 0; font-size:16px; color: white;}

.Kontent3-block{width: 100%;}
.Kontent3-block-control{width: 95%; display: block; margin: 0 auto;}
.Kontent3-block-control-title{width: 100%; text-align: center; padding:0px ;}
.Kontent3-block-control-spisok{width: 100%; height: 63px; margin: 0px; text-align: center; border-bottom: solid 9px #F5F5F5;}
.Kontent3-block-control-li{border-bottom: solid 9px #F5F5F5;}.Kontent3-block-control-li:hover{border-bottom: solid 9px #30C884;}

.Kontent4-block{width: 100%;}
.Kontent4-blocks-img{width: 112%; background: url(../img/Woman.png) no-repeat 4% 99%/30em;}



.foter-block{display: none;}
.Footer-phone{display: block;}
.accordion-button{}
.accordion-button:focus{outline: none; box-shadow: none; border:2px solid #323D47;}
.accordion-button:active{border:2px solid #323D47;}
.accordion-button:not(.collapsed){background-color: #222b42;}
.accordion-button::after{content: ""; background: url(https://img.icons8.com/ios/50/ffffff/expand-arrow--v1.png) no-repeat 50% 50%/100%;}
.accordion-button:not(.collapsed)::after{background: url(https://img.icons8.com/ios/50/ffffff/expand-arrow--v1.png) no-repeat 50% 50%/100%; transform: rotate(
180deg);}
.footer-blocks{padding-top:0px;}
.footer-blocks-logo{margin: 15px 0px;}

.Header-forma-phone{display: block;}
}